Get the User input and prints the data to console

In [4]:
# Enter the Name
name=input("enter the name: ")
print("Hello {}".format(name) )

enter the name: vijay
Hello vijay

# This is Heading 1
## This is Heading 2
### This is Heading 3
#### This is Heading 4
##### This is Heading 5

Has only 4 Headings

__"This string is in Bold"__

**"This String is also in Bold"**

_"This is italic"_

*"This is also Italic"*

***"This both bold and Italic " ***

___"This both bold and Italic"___

# Monospace Font

`This is the important that needs to be highlighted` <br> `used <br> for line break`

# Indenting

use `>` for indenting <br>
> This is the first  
>> This is second
>>> This is third

# Bullets and numbering

- This is the First point
- This is the second point
    - This is the sub point<br>

1. This is the number list
2. This is the second point<br>
    A. This is the sub point<br>
    A. This is another sub point
3. Back to Third point

# Colour
<font color ="red">This is in red color </font>
<font color ="green"><br>This is in green color </font>

# Adding image

<img src = "https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

# Writing equation

$ k_{n+1} = n^2 + k_n^2 - k_{n-1} $ <br>
$n^{22} $

In [4]:
a="This is vijay , i am not feeling good today"

In [10]:
b=a.split("i")

In [12]:
"i".join(b)

'This is vijay , i am not feeling good today'

In [39]:
a=['vijay',"1200000-","zani","2"]
a1=['vijay',"1200000-","zani","2"]

In [40]:
a+a1

['vijay', '1200000-', 'zani', '2', 'vijay', '1200000-', 'zani', '2']

In [41]:
a2=[a,a1]

In [42]:
a2

[['vijay', '1200000-', 'zani', '2'], ['vijay', '1200000-', 'zani', '2']]

In [52]:
word = ['1','2','3','4']

In [54]:
word[1]='999'

In [56]:
word[:]=[]

In [57]:
word

[]

In [65]:
a=([1,2],[3,4],[5,6])

In [66]:
a

([1, 2], [3, 4], [5, 6])

In [67]:
a[0]

[1, 2]

In [68]:
a[0][1] = "Vijay"

In [69]:
a

([1, 'Vijay'], [3, 4], [5, 6])

# Dict

In [1]:
cust={}

In [43]:
cust1={"name":"vijay","age":23,"address":"1190 Queen lane"}

In [4]:
cust

{'name': 'vijay', 'age': 23, 'address': '1190 Queen lane'}

In [13]:
cust.get('adadf',"Key Not available")

'Key Not available'

In [23]:
cust['age_mm']=100

In [27]:
print ( 'namae' in cust )

False

In [33]:
cust.keys()

dict_keys(['name', 'age', 'address', 'age_aa', 'age_dd', 'age_mm'])

In [37]:
a=dict(name='bba',song=['a1','a1',22])

In [38]:
cust.update(a)

In [40]:
a

{'name': 'bba', 'song': ['a1', 'a1', 22]}

In [44]:
cust

{'name': 'bba',
 'age': 44,
 'address': '1190 Queen lane',
 'age_aa': 44,
 'age_dd': 44,
 'age_mm': 100,
 'song': ['a1', 'a1', 22]}

In [49]:
cust["song"]="bala"

In [51]:
del cust['name']

In [53]:
cust["name"]="nala"

In [55]:
cust{"append"}

SyntaxError: invalid syntax (<ipython-input-55-ebf38ca05290>, line 1)

In [56]:
student={1:['vijay',24],2:['aadhish',2]}

In [57]:
student

{1: ['vijay', 24], 2: ['aadhish', 2]}

In [58]:
student.keys()

dict_keys([1, 2])

In [60]:
student.values()

dict_values([['vijay', 24], ['aadhish', 2]])

In [64]:
del student[1]

In [65]:
student[2]=["vijay",34]

In [66]:
student

{2: ['vijay', 34]}

In [67]:
student[22]=["vijay",34]

In [68]:
student

{2: ['vijay', 34], 22: ['vijay', 34]}

In [70]:
student.get(99,"NA")

'NA'

In [71]:
len(student)

2

In [72]:
cust

{'age': 44,
 'address': '1190 Queen lane',
 'age_aa': 44,
 'age_dd': 44,
 'age_mm': 100,
 'song': 'bala',
 'name': 'nala'}

In [74]:
cust.update(student)