In [24]:
### Matplotlib####

import matplotlib.pyplot as plt
import seaborn as sns

/Users/vijaybmani/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/vijaybmani/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/vijaybmani/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [25]:
df =sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
df['size'].unique()

array([2, 3, 4, 1, 6, 5])

In [12]:
plt.show()

In [22]:
ls

1_Introduction_to_Matplotlib.ipynb  monero_price.csv
2_Plotting_Distributions.ipynb      neo_price.csv
Plotting work.ipynb                 orders_dimen.csv
Untitled.ipynb                      prod_dimen.csv
Untitled1.ipynb                     qtum_price.csv
bitcoin_price.csv                   ripple_price.csv
cust_dimen.csv                      shipping_dimen.csv
ethereum_price.csv                  test.pdf
litecoin_price.csv                  test.png
market_fact.csv                     vgsales.csv